.cards {
    display: grid;
    grid-template-columns: repeat(5,14%);
    justify-content: center;
    padding: 30px;
    gap: 50px;
    
    
  }
  
  .card-wrapper {
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
    border: 1px solid #DEDEDE;
    width: 230px;
    background-color: #eefdfd63;
  }
  .card-wrapper:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition:  0.6s ease;
    background-color: white;
  }
  
  .card-wrapper img {
    object-fit: contain;
    height: 250px;
    width: 100%;
  }
  .card-wrapper .card-container{
      display: flex;
      flex-direction: column;
      padding: 5px 10px;
      align-self: normal;
  }
  
  .card-container h3 {
    font-size: 1.1rem;
    color: teal;
    padding: 5px;
  }

   .card-container .price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .card-container .price-cart #cart-icon{
        font-size: 1.9rem;
        color: rgb(192, 2, 2);
        cursor: pointer;
   }

  
.title h5{
  font-size: 2rem;
  text-align: center;
  padding: 30px;
}

.title .line{
  width: 50%;
  margin: 0 auto;
  border-bottom: 1px solid #000; 
  margin-bottom: 30px;
}