.contact-container{
    height: 100%;
    width: 100%;
    padding: 50px 85px;

}
.contact-container > p{
    font-size: 1.8rem;
    font-weight: 600;
}


/* .our-info {
    display: flex;
    flex-direction: column;
} */

.icons{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
}

.icons li{
    list-style-type: none; 
}



.info p{
    font-size: 1.1rem;
}

.contact-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

.form form{
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.form input{
    outline: none;
}
.form label{
   font-size: 1.2rem;

}
.form button{
    width: 20%;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
    /* background-color: #B03B31; */
    /* color: white; */
    color: black;
    background-color: rgba(150, 150, 150, 0.816);
    border: none;
}
.form textarea{
    outline: none;
    height: 6rem;
}