.details{
    padding-top: 30px;
    display: flex;
    justify-content: space-around;
}

.book-image img{
    height: 22rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
}
.book-image p{
    font-size: 1.3rem;
    font-weight:500;
}

.book-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.book-info .book-wrapper{
   border: 1px solid #ccc;
   min-width: 25rem;   
   padding: 5px 10px;
}
.book-wrapper span{
    font-size: 1.1rem;
    font-weight:500;
}
.book-info p{
    font-size: 1.1rem;
}

.book-wrapper .cart-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-wrapper .cart-price .icon-cart{
    font-size: 2rem;
    color: rgb(192, 2, 2);
    cursor: pointer;
}