.all-result{
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 30px;
     */
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     align-items: center;
     padding-top: 15px;
  }

  .one-result{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }

  .result-wrapper {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* border: 2px solid #DEDEDE; */
    width: 230px;
    height: 410px;
  
  }
  .result-wrapper img:hover{
    cursor: pointer;
  }
  
  .result-wrapper img {
    object-fit: contain;
    height: 250px;
    width: 100%;
  
  }
  .result-wrapper .result-container{
      display: flex;
      flex-direction: column;
      /* padding: 0 10px; */
      height: 100%;
  }
  .au-pr{
    padding: 0 10px;
  }
  
  .result-container #book-name {
    font-size: 1.4rem;
    color: teal;
    padding: 5px;
  }

  .result-container .price-cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }

   .result-container .price-cart #basket-icon{
        font-size: 1.9rem;
        color: rgb(192, 2, 2);
        cursor: pointer;
   }
